<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Examples</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="wrap">
        <div class="float_left">
            <a></a>
        </div>
        <div class="float_right">
            <div>
                <p>全国加盟电话  400-004-2282</p>
                <p>13886868686</p>
            </div>
            <span>馋时，闲时，就到小馋院</span>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="clearFloat">
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="aboutUs.html">品牌</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="Oration.html">致辞</a>
                    <a href="culture.html">文化</a>
                    <a href="aboutUs.html">简介</a>
                    <a href="fengcai.html">员工风采</a>
                    <a href="honorList.html">荣誉资质</a>
                    <a href="brand.html">品牌实力</a>
                </p>
            </div>
        <li>
            <a>火锅加盟  </a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="tzys.html">投资预算</a>
                    <a href="jmys.html">加盟优势</a>
                    <a href="jmzc.html">加盟支持</a>
                    <a href="jmlc.html">加盟流程</a>
                    <a href="jmjg.html">加盟费</a>
                    <a href="jmxz.html">加盟选址</a>
                    <a href="jmtj.html">加盟条件</a>
                    <a href="jmfx.html">市场分析</a>
                    <a href="jmyz.html">加盟原则</a>
                    <a href="zctd.html">支持团队</a>
                    <a href="koubei.html">达人点评</a>
                </p>
            </div>
        </li>
        <li>
            <a href="imgList.html">图片视频</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="imgList.html">图片</a>
                    <a href="videoList.html">视频</a>
                </p>
            </div>
        </li>
        <li>
            <a href="feature-food.html">特色菜品</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="meatList.html">荤菜</a>
                    <a href="vegetarianList.html">素菜</a>
                    <a href="jylc.html">江岽卤</a>
                    <a href="dessertList.html">甜品</a>
                    <a href="snackList.html">小吃</a>
                </p>
            </div>
        </li>
        <li>
            <a href="dining-hall.html">餐厅展示</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="fdzs.html">分店展示</a>
                    <a href="fddt.html">分店地图</a>
                    <a href="fddz.html">分店地址</a>
                </p>
            </div>
        </li>
        <li>
            <a href="news.html">新闻动态</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="jmzs.html">火锅加盟知识</a>
                    <a href="hydt.html">行业动态</a>
                    <a href="yxhd.html">营销活动</a>
                </p>
            </div>
        </li>
        <li>
            <a>联系方式</a>
        </li>
    </ul>
</div>
<div class="brand-step">
    <span class="s1">
        <a><br>起源</a>
        <img src="../assets/images/example/stepA-02.png">
        <p>2009年味蜀吾老火锅第一家店开业！2010年注册了成都味蜀吾餐饮管理有限公司！<br><br></p>
    </span>
    <span class="s2">
        <a href="/Item/list.asp?id=1660#tx"><br>加盟<br>体系</a>
        <img src="../assets/images/example/stepB-02.png">
        <p>2013年火锅加盟投资体系初成，让开火锅店可复制。经过14年的实践和完善，一套完整的投资体系建成。让成功可复制！</p>
    </span>
    <span class="s1">
        <a><br>160<br>家店</a>
        <img src="../assets/images/example/stepA-02.png">
        <p>加盟投资体系的完成，让味蜀吾如虎添翼，复制式的开店，迅速开到全国160多家店！还在快速增涨中。</p>
    </span>
    <span class="s2">
        <a><br>2亿</a>
        <img src="../assets/images/example/stepB-02.png">
        <p>2016年味蜀吾全国加盟店营业额超2亿。第一批赚了钱的加盟商买断全国多个省份的代理权，开了一家又一家。</p>
    </span>
    <span class="s1">
        <a><br>9家<br>公司</a>
        <img src="../assets/images/example/stepA-02.png">
        <p>目前味蜀吾旗下创立9家公司，7个餐饮品牌，2个支持公司。<br><br><br></p>
    </span>
</div>
<dl class="brand">
    <dt>
        <img src="../assets/images/example/t-pp.png">
        <p>成都味蜀吾餐饮管理有限公司联合9家兄弟公司，渝城老妈（火锅），红灯照（牛肉面），池田屋（日本料理），江岽卤（川味卤菜），烤神帮（烤肉），蘸水菜，7个餐饮品牌，底料生产厂，点餐软件。共建完善的支持团队，为餐饮投资者提供强大的支持。</p>
    </dt>
    <dd class="pp">
        <div><img src="../assets/images/example/wsw.png"><br>160家店</div>
        <span><a>渝城老妈</a>(60家店)</span>
        <span><a>红灯照</a>(50多家店)</span>
        <span><a>池田屋</a>(50多家店)</span>
        <span><a>江岽卤</a>(油卤供应)</span>
        <span><a>百品味源</a>(底料供应)</span>
        <span><a>餐有道</a>(点菜系统)</span>
    </dd>
</dl>
<dl class="brand">
    <dt>
        <img src="../assets/images/example/t-team.png">
        <p>公司加盟支持部有7个团队：筹备、厨政、设计、培训、底料生产、营销策划、督导。组成一支完整的火锅店投资支持团队，为加盟店提供全面全方位的加盟支持。</p>
    </dt>
    <dd>
        <div class="img"><img src="../assets/images/example/brand-team.png"></div>
    </dd>
</dl>
<dl class="brand">
    <dt>
        <img src="../assets/images/example/t-dl.png">
        <p>近2000平米厂房，先进的进口设备，严格的质量管理体系，流水线生产，每天生产上万斤火锅底料。发往全国各地加盟店，确保每个店都是一样的味道。</p>
    </dt>
    <dd>
        <div class="img"><img src="../assets/images/example/brand-dl.jpg"></div>
    </dd>
</dl>
<dl class="brand">
    <dt>
        <img src="../assets/images/example/t-bgs.png">
        <p>总部位于四川成都中海国际F座13楼，1500多平米办公室，设置多媒体培训室，会议室，接待室及各品牌办公室。</p>
    </dt>
    <dd>
        <div class="img"><img src="../assets/images/example/brand-bgs.jpg"></div>
    </dd>
</dl>
<dl class="brand">
    <dt>
        <img src="../assets/images/example/t-jp.png">
        <p>各品牌每年在各大网媒，电视，纸媒，餐饮协会等获得众多荣誉奖牌。在同行中脱颖而出，为您的投资提供信誉保障。</p>
    </dt>
    <dd>
        <div class="img"><img src="../assets/images/example/brand-jp.jpg"></div>
    </dd>
</dl>
<dl class="brand">
    <dt>
        <img src="../assets/images/example/t-mt.png">
        <p>每年斥巨资在电视媒体、网络媒体、户外广告、强势杂志等进行立体宣传。提升品牌影响力。</p>
    </dt>
    <dd>
        <div class="img"><img src="../assets/images/example/brand-mt.jpg"></div>
    </dd>
</dl>
<dl class="brand">
    <dt>
        <img src="../assets/images/example/t-kb.png">
        <p>地道的口味，至尊至荣的消费体验，得到食客们的认可，和一致好评。</p>
    </dt>
    <dd>
        <div class="img"><img src="../assets/images/example/koubei.jpg" alt="味蜀吾锦兴店美食达人点评"></div>
    </dd>
</dl>
<div class="footer">
    <div class="wrap">
        <div class="float_left">
            <div class="wx-wrap">
                <img src="../assets/images/pic6.png">
                <div>
                    <p>全国加盟电话  400-004-2282</p>
                    <p>13886868686</p>
                </div>
            </div>
            <div class="friendLink">
                友情链接：
                <a>火锅加盟</a>
                <a>渝城老妈火锅</a>
                <a>火锅店加盟</a>
                <a>面馆加盟</a>
                <a>日式料理加盟</a>
            </div>
        </div>
        <div class="float_right">
            <p>地址：高新区交子大道365号中海国际F座1栋13层1306号</p>
            <p>电话：028-85239135</p>
            <p>蜀ICP备12012292号-1</p>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<!--<![endif]-->
</body>
</html>