<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Examples</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="wrap">
        <div class="float_left">
            <a></a>
        </div>
        <div class="float_right">
            <div>
                <p>全国加盟电话  400-004-2282</p>
                <p>13886868686</p>
            </div>
            <span>馋时，闲时，就到小馋院</span>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="clearFloat">
        <li>
            <a href="index.html"">首页</a>
        </li>
        <li>
            <a href="aboutUs.html>品牌</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="Oration.html">致辞</a>
                    <a href="culture.html">文化</a>
                    <a href="aboutUs.html">简介</a>
                    <a href="fengcai.html">员工风采</a>
                    <a href="honorList.html">荣誉资质</a>
                    <a href="brand.html">品牌实力</a>
                </p>
            </div>
        <li>
            <a>火锅加盟  </a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="tzys.html">投资预算</a>
                    <a href="jmys.html">加盟优势</a>
                    <a href="jmzc.html">加盟支持</a>
                    <a href="jmlc.html">加盟流程</a>
                    <a href="jmjg.html">加盟费</a>
                    <a href="jmxz.html">加盟选址</a>
                    <a href="jmtj.html">加盟条件</a>
                    <a href="jmfx.html">市场分析</a>
                    <a href="jmyz.html">加盟原则</a>
                    <a href="zctd.html">支持团队</a>
                    <a href="koubei.html">达人点评</a>
                </p>
            </div>
        </li>
        <li>
            <a href="imgList.html">图片视频</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="imgList.html">图片</a>
                    <a href="videoList.html">视频</a>
                </p>
            </div>
        </li>
        <li>
            <a href="feature-food.html">特色菜品</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="meatList.html">荤菜</a>
                    <a href="vegetarianList.html">素菜</a>
                    <a href="jylc.html">江岽卤</a>
                    <a href="dessertList.html">甜品</a>
                    <a href="snackList.html">小吃</a>
                </p>
            </div>
        </li>
        <li>
            <a href="dining-hall.html">餐厅展示</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="fdzs.html">分店展示</a>
                    <a href="fddt.html">分店地图</a>
                    <a href="fddz.html">分店地址</a>
                </p>
            </div>
        </li>
        <li>
            <a href="news.html">新闻动态</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="jmzs.html">火锅加盟知识</a>
                    <a href="hydt.html">行业动态</a>
                    <a href="yxhd.html">营销活动</a>
                </p>
            </div>
        </li>
        <li>
            <a>联系方式</a>
        </li>
    </ul>
</div>
<div class="wrap content_fdInfo">
    <table border="0" cellspacing="1" cellpadding="0">
        <tbody><tr class="th">
            <td align="center">加盟店地址</td>
            <td align="center">加盟店店名</td>
            <td align="center">订餐电话</td>
        </tr>
        <tr class="tt">
            <td align="center">北京</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">北苑家园秋实街1号易事达广场4层</td>
            <td align="center">北京易事达店</td>
            <td align="center">010-84966166</td>
        </tr>
        <tr class="tt">
            <td align="center">天津</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">天津市河东区六纬路133号金都五金大厦</td>
            <td align="center">天津味蜀吾沸腾三国</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">天津市和平区昆明路与西宁道交口（金德园4号楼底商）</td>
            <td align="center">味蜀吾天津和平店</td>
            <td align="center">022-83130066</td>
        </tr>
        <tr class="tt">
            <td align="center">辽宁省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">新抚区浑河南路中段54-5号</td>
            <td align="center">抚顺店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">辽宁省朝阳市站前100米世纪阳光正门</td>
            <td align="center">朝阳世纪阳光店</td>
            <td align="center">0421-6633888</td>
        </tr>
        <tr>
            <td align="center">辽宁省朝阳市五一街中园书苑小区门口</td>
            <td align="center">朝阳二店</td>
            <td align="center">0421-2711111</td>
        </tr>
        <tr>
            <td align="center">辽宁省锦州市太和区科技路锦绣天第小区c区14-35.36.37号</td>
            <td align="center">味蜀吾锦州店</td>
            <td align="center">0416-3512111</td>
        </tr>
        <tr>
            <td align="center">辽宁省盖州市聚富中心花园楼下门市聚富中心花园10号楼</td>
            <td align="center">盖州店</td>
            <td align="center">0417-7166666</td>
        </tr>
        <tr>
            <td align="center">辽宁省大连市西岗区五四路133号</td>
            <td align="center">大连奥林匹克店</td>
            <td align="center">0411-83798880</td>
        </tr>
        <tr class="tt">
            <td align="center">陕西省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">陕西省神木县黄庄路黄庄小区1楼商铺</td>
            <td align="center">陕西榆林店</td>
            <td align="center">0912-8553888</td>
        </tr>
        <tr class="tt">
            <td align="center">山西省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">山西省临汾市尧都区临钢迎宾路中段（原临钢招待所）</td>
            <td align="center">临汾味蜀吾店</td>
            <td align="center">0357-8275555</td>
        </tr>
        <tr>
            <td align="center">山西省太原市万柏林区和平南路317号</td>
            <td align="center">太原三店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">山西省长治市益东国际酒店综合楼6楼</td>
            <td align="center">长治益东店</td>
            <td align="center">0355-5555688</td>
        </tr>
        <tr>
            <td align="center">山西省太原市长风街丽华西路（汇众家园）</td>
            <td align="center">味蜀吾太原丽华店</td>
            <td align="center">0351-6789777</td>
        </tr>
        <tr>
            <td align="center">山西省晋城市泽州路与白水街交汇处十字西侧白水印象4号商铺</td>
            <td align="center">山西晋城店</td>
            <td align="center">0356-6962266</td>
        </tr>
        <tr>
            <td align="center">山西省大同市御河东路华北星辰小区</td>
            <td align="center">山西大同店</td>
            <td align="center">0352-6118118</td>
        </tr>
        <tr>
            <td align="center">山西省孝义市二环路</td>
            <td align="center">山西孝义店</td>
            <td align="center">0358-7846999</td>
        </tr>
        <tr>
            <td align="center">山西省太原市小店区晋阳街82号云水世纪明珠</td>
            <td align="center">太原晋阳店</td>
            <td align="center">0351-6956777</td>
        </tr>
        <tr class="tt">
            <td align="center">山东省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">山东省烟台市牟平区西关路736号附7号</td>
            <td align="center">烟台牟平店</td>
            <td align="center">0535-4222111</td>
        </tr>
        <tr>
            <td align="center">山东省烟台开发区华山路6-16号</td>
            <td align="center">烟台2店</td>
            <td align="center">0535-6378777</td>
        </tr>
        <tr>
            <td align="center">青岛市新都心 黑龙江南路18号凯德广场3层</td>
            <td align="center">青岛2店</td>
            <td align="center">0532-80938418</td>
        </tr>
        <tr>
            <td align="center">莱阳市昌山路万融凯旋城</td>
            <td align="center">莱阳味蜀吾</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">山东省济宁市汶上县中都大街南段法院南100米路东</td>
            <td align="center">汶上味蜀吾店</td>
            <td align="center">0537-3105666</td>
        </tr>
        <tr>
            <td align="center">山东省即墨市古城城隍庙街1216号</td>
            <td align="center">即墨店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">淄博市张店区共青团东路六甲8号</td>
            <td align="center">淄博店</td>
            <td align="center">13581035543</td>
        </tr>
        <tr>
            <td align="center">山东省烟台招远市金晖花园观景苑1号楼211号</td>
            <td align="center">招远店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">山东省青岛市南区山东路6号甲（万象城5楼L557号）</td>
            <td align="center">青岛万象城店</td>
            <td align="center">0532-55575599</td>
        </tr>
        <tr class="tt">
            <td align="center">河南省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">河南省漯河市临颍县新城路与二环路交叉口东方国际广场</td>
            <td align="center">河南漯河店</td>
            <td align="center">0395-3313888</td>
        </tr>
        <tr>
            <td align="center">河南省郑州市登封市南一环锦绣华庭商铺2楼</td>
            <td align="center">郑州登封店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">河南省周口市川汇区莲花路维也纳小区门口</td>
            <td align="center">周口维也纳店</td>
            <td align="center">0394-8221818、8261616</td>
        </tr>
        <tr class="tt">
            <td align="center">湖北省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">湖北省武汉市江夏区万达影院旁</td>
            <td align="center">武汉江夏店</td>
            <td align="center">027-82899993</td>
        </tr>
        <tr>
            <td align="center">湖北省随州市曾都区舜井大道273号</td>
            <td align="center">随州店</td>
            <td align="center">0722-3560055</td>
        </tr>
        <tr>
            <td align="center">湖北省武汉市硚口解放大道18号凯德西城</td>
            <td align="center">武汉凯德店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">武汉市南湖星光时代</td>
            <td align="center">武汉星光店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">武汉市汉阳区汉阳大道505号</td>
            <td align="center">汉阳店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr class="tt">
            <td align="center">安徽省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">安徽省六安市皖西路红街A2座1701室</td>
            <td align="center">六安店</td>
            <td align="center">0564-2219999</td>
        </tr>
        <tr>
            <td align="center">阜阳市颖州万达广场B-2区2#147室</td>
            <td align="center">阜阳店</td>
            <td align="center">15905586888</td>
        </tr>
        <tr>
            <td align="center">安徽省合肥市包河区望江路与宁国路交口和润华府115/116/117商铺</td>
            <td align="center">合肥宁国店</td>
            <td align="center">0551-65193338</td>
        </tr>
        <tr class="tt">
            <td align="center">江苏省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">江苏省苏州市工业园区中央景城邻里中心401</td>
            <td align="center">苏州店</td>
            <td align="center">0512-66607577</td>
        </tr>
        <tr>
            <td align="center">南京市建邺区楠溪江东街83号金润广场B103-2</td>
            <td align="center">南京金润广场店</td>
            <td align="center">025-85408177</td>
        </tr>
        <tr>
            <td align="center">南京市玄武区珠江路588号 </td>
            <td align="center">南京珠江店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">江苏省苏州市张家港沙洲湖锦绣邻里坊2号楼1层</td>
            <td align="center">张家港店</td>
            <td align="center">17751253900</td>
        </tr>
        <tr>
            <td align="center">苏州市常熟市方塔街方塔琴弄33号</td>
            <td align="center">常熟店</td>
            <td align="center">0512-52255177</td>
        </tr>
        <tr>
            <td align="center">连云港市建设东路18号5F-3</td>
            <td align="center">连云港店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">常州市新北区晋陵北路203号（东南花园商铺20-22号）</td>
            <td align="center">常州晋陵店</td>
            <td align="center">0519-81581777</td>
        </tr>
        <tr>
            <td align="center">江苏省无锡市海岸城八方汇商业街B栋57单元206－218号</td>
            <td align="center">味蜀吾无锡店</td>
            <td align="center">0510-83117788</td>
        </tr>
        <tr>
            <td align="center">江苏省南通市开发区世茂广场1-111号</td>
            <td align="center">南通世茂店</td>
            <td align="center">0513-89163377</td>
        </tr>
        <tr class="tt">
            <td align="center">浙江省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">浙江省东阳市横店镇度假村路10号</td>
            <td align="center">横店店</td>
            <td align="center">0579-86388866</td>
        </tr>
        <tr>
            <td align="center">宁波市鄞州区钱湖天地正门口（星巴克旁）</td>
            <td align="center">钱湖天地门店</td>
            <td align="center">0574-88380057</td>
        </tr>
        <tr>
            <td align="center">浙江省温州市鹿城区车站大道238号恒隆商务楼二楼</td>
            <td align="center">温州店</td>
            <td align="center">0577-88991717</td>
        </tr>
        <tr class="tt">
            <td align="center">江西省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">江西省南昌市红谷滩新区红谷中大道728号商城晶街108号</td>
            <td align="center">南昌红谷丽景店</td>
            <td align="center">0791-87882888</td>
        </tr>
        <tr>
            <td align="center">江西省上饶市广丰区公主楼2楼</td>
            <td align="center">上饶广丰店</td>
            <td align="center">0793-2692777</td>
        </tr>
        <tr>
            <td align="center">江西省鹰潭市信江区纬四路百盛名仕府6-9号</td>
            <td align="center">鹰潭店</td>
            <td align="center">0701-6686663</td>
        </tr>
        <tr>
            <td align="center">江西省南昌市广场南路恒茂国际华城19号楼</td>
            <td align="center">南昌店</td>
            <td align="center">18070097064</td>
        </tr>
        <tr>
            <td align="center"> 江西省上饶万达广场3楼</td>
            <td align="center">上饶万达店</td>
            <td align="center">0793-8268559</td>
        </tr>
        <tr>
            <td align="center">江西省九江市庐山区万达广场室外步行街C2-125</td>
            <td align="center">九江店</td>
            <td align="center">0792-8217771</td>
        </tr>
        <tr class="tt">
            <td align="center">湖南省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">湖南省常德市柳叶大道柳叶湖集散中心负一层商铺</td>
            <td align="center">常德店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">长沙市天心区五一大道景江东方大厦二楼</td>
            <td align="center">长沙五一店</td>
            <td align="center">0731-88888633</td>
        </tr>
        <tr>
            <td align="center">湖南省岳阳市经开区中航翡翠湾5栋2楼</td>
            <td align="center">岳阳店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr class="tt">
            <td align="center">福建省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">福建省泉州市晋江阳光广场边星光路1-13号</td>
            <td align="center">晋江店</td>
            <td align="center">0595-22720555</td>
        </tr>
        <tr>
            <td align="center">福建省安溪县宝龙城市广场营销中心</td>
            <td align="center">泉州安溪店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">福建省泉州市东海泰禾广场</td>
            <td align="center">泉州东海泰禾店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">福建省南平市解放路12号首联花园</td>
            <td align="center">南平店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">厦门市思明区湖明路24号2层</td>
            <td align="center">厦门湖明店</td>
            <td align="center">0592-5088879</td>
        </tr>
        <tr>
            <td align="center">福州六一路永德信花园二楼</td>
            <td align="center">福州六一店</td>
            <td align="center">0591-88770777</td>
        </tr>
        <tr>
            <td align="center">龙岩市新罗区龙腾路五洲财富广场13.14.15.16号店四间</td>
            <td align="center">龙岩财富店</td>
            <td align="center">0597-2250899</td>
        </tr>
        <tr>
            <td align="center">福建省莆田市荔城区镇海街道延寿中街武夷云庭</td>
            <td align="center">莆田店</td>
            <td align="center">0594-2689777</td>
        </tr>
        <tr>
            <td align="center">福建泉州市丰泽区田安北路（星际大厦2楼）</td>
            <td align="center">泉州店</td>
            <td align="center">0595-22272555</td>
        </tr>
        <tr>
            <td align="center">福建省南平市浦城县永晖商城四楼</td>
            <td align="center">浦城店</td>
            <td align="center">0599-2834888</td>
        </tr>
        <tr class="tt">
            <td align="center">广东省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">广东省佛山市顺德区北滘镇人昌路10号（北滘商业广场）</td>
            <td align="center">顺德北滘店</td>
            <td align="center">0757-23273958</td>
        </tr>
        <tr>
            <td align="center">广东省江门市蓬江区迎宾大道西11号201商铺</td>
            <td align="center">江门店</td>
            <td align="center">0750-3332297</td>
        </tr>
        <tr>
            <td align="center">广州增城市新塘镇港口路金海岸广场四层8/9铺</td>
            <td align="center">广州增城店</td>
            <td align="center">020-32162999</td>
        </tr>
        <tr>
            <td align="center">东莞市常平镇百花时代广场4F</td>
            <td align="center">东莞常平店</td>
            <td align="center">0769-82935182</td>
        </tr>
        <tr>
            <td align="center">东莞市万江区万江路南10号华南MALL-A2区二层S1-47号</td>
            <td align="center">东莞万江店</td>
            <td align="center">0769-28823979</td>
        </tr>
        <tr>
            <td align="center">东莞南城银丰路金运楼临街商铺位首层</td>
            <td align="center">东莞南城店</td>
            <td align="center">0769-22345633</td>
        </tr>
        <tr>
            <td align="center">广东省深圳市龙华新区民治大道牛栏前大厦D109号商铺</td>
            <td align="center">深圳民治店</td>
            <td align="center">0755-36607100</td>
        </tr>
        <tr>
            <td align="center">广东省珠海市香洲区吉大路99号二楼</td>
            <td align="center">珠海吉大店</td>
            <td align="center">0756-3329558</td>
        </tr>
        <tr class="tt">
            <td align="center">贵州省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">贵州省遵义市汇川区人民路与珠海路交叉口天安幸福里项目</td>
            <td align="center">遵义店</td>
            <td align="center">0851-28633373</td>
        </tr>
        <tr class="tt">
            <td align="center">云南省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">云南省迪庆藏族自治州德钦县卡瓦格博大道五号</td>
            <td align="center">迪庆味蜀吾</td>
            <td align="center">0887-8566899</td>
        </tr>
        <tr>
            <td align="center">云南省玉溪市元江哈尼族彝族傣族自治县永发路6号</td>
            <td align="center">玉溪味蜀吾店</td>
            <td align="center">13988404969</td>
        </tr>
        <tr>
            <td align="center">昆明市东风路拓东体育场游泳馆东侧</td>
            <td align="center">昆明拓东店</td>
            <td align="center">0871-63555633</td>
        </tr>
        <tr>
            <td align="center">云南省迪庆藏族自治州香格里拉县古城商业街40-46号</td>
            <td align="center">香格里拉店</td>
            <td align="center">0887-8835222、8296333</td>
        </tr>
        <tr>
            <td align="center">丽江市大雁古城五一街文治巷73号文明牌坊旁</td>
            <td align="center">丽江古城店</td>
            <td align="center">0888-5357000</td>
        </tr>
        <tr>
            <td align="center">云南省昭通市昭阳区国防广场</td>
            <td align="center">昭通国防店</td>
            <td align="center">0870-2227772</td>
        </tr>
        <tr class="tt">
            <td align="center">宁夏省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">宁夏银川兴庆区新一中塞上轿子一期二区11-15号房</td>
            <td align="center">银川新一中店</td>
            <td align="center">0951-5610666</td>
        </tr>
        <tr>
            <td align="center">宁夏吴忠市黎明街西商网</td>
            <td align="center">宁夏吴忠店</td>
            <td align="center">0953-2253777</td>
        </tr>
        <tr class="tt">
            <td align="center">青海省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">青海省西宁市五四大街37号力盟3号楼2层</td>
            <td align="center">西宁力盟店</td>
            <td align="center">0971-6100979</td>
        </tr>
        <tr>
            <td align="center">青海省大通县园林路附8号</td>
            <td align="center">大通园林店</td>
            <td align="center">0971-2798777</td>
        </tr>
        <tr class="tt">
            <td align="center">甘肃省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">甘肃省平凉市世纪花园B5区</td>
            <td align="center">平凉店</td>
            <td align="center">0933-8698822</td>
        </tr>
        <tr>
            <td align="center">甘肃省兰州市城关区武都路西口453号</td>
            <td align="center">兰州店</td>
            <td align="center">0931-4666600</td>
        </tr>
        <tr>
            <td align="center">兰州市七里河区建工中路民族金街B3</td>
            <td align="center">兰州二店</td>
            <td align="center">0931-2350777</td>
        </tr>
        <tr>
            <td align="center">甘肃省嘉峪关市商业步行街3号楼四、五层</td>
            <td align="center">嘉峪关店</td>
            <td align="center">0937-6929778</td>
        </tr>
        <tr class="tt">
            <td align="center">四川省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">四川省阿坝州九寨县漳扎镇彭丰村</td>
            <td align="center">九寨沟店</td>
            <td align="center">0837-7760888</td>
        </tr>
        <tr>
            <td align="center">成都市青羊区光华北三路160号</td>
            <td align="center">成都中坝味蜀吾</td>
            <td align="center">028-62323922</td>
        </tr>
        <tr>
            <td align="center">成都市锦江区锦兴路34号附1、2号(阳光365一楼)</td>
            <td align="center">成都锦兴店</td>
            <td align="center">028-86675820</td>
        </tr>
        <tr>
            <td align="center">成都市高新区府城大道西段399号（天府新谷）</td>
            <td align="center">天府新谷店</td>
            <td align="center">028-83239005</td>
        </tr>
        <tr class="tt">
            <td align="center">新疆省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">新疆哈密市东河区青年南路6号2楼</td>
            <td align="center">味蜀吾新疆哈密店</td>
            <td align="center">0902-2296677</td>
        </tr>
        <tr class="tt">
            <td align="center">黑龙江</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">黑龙江省佳木斯市西林路西段英伦尚城C区北门</td>
            <td align="center">佳木斯店</td>
            <td align="center">0454-6973777</td>
        </tr>
        <tr class="tt">
            <td align="center">河北省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">承德市双桥区丽正门大街</td>
            <td align="center">味蜀吾承德店</td>
            <td align="center">0314-2288666</td>
        </tr>
        <tr>
            <td align="center">保定市白沟镇兴盛大街</td>
            <td align="center">保定白沟味蜀吾</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr class="tt">
            <td align="center">海南省</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">海口市国兴大道63号</td>
            <td align="center">海口味蜀吾店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr class="tt">
            <td align="center">上海</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">上海市闵行区马桥镇银春路2176号101-S室</td>
            <td align="center">上海闵行店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr>
            <td align="center">上海市浦东新区荣科路280号2049翡翠公园201铺</td>
            <td align="center">上海翡翠公园店</td>
            <td align="center"><span class="red">筹备中...</span></td>
        </tr>
        <tr class="tt">
            <td align="center">日本</td>
            <td align="center">　</td>
            <td align="center">　</td>
        </tr>
        <tr>
            <td align="center">日本大阪市中央区心斋桥和宗右门交界处</td>
            <td align="center">日本大阪店</td>
            <td align="center">0</td>
        </tr>
        </tbody></table>
</div>
<div class="footer">
    <div class="wrap">
        <div class="float_left">
            <div class="wx-wrap">
                <img src="../assets/images/pic6.png">
                <div>
                    <p>全国加盟电话  400-004-2282</p>
                    <p>13886868686</p>
                </div>
            </div>
            <div class="friendLink">
                友情链接：
                <a>火锅加盟</a>
                <a>渝城老妈火锅</a>
                <a>火锅店加盟</a>
                <a>面馆加盟</a>
                <a>日式料理加盟</a>
            </div>
        </div>
        <div class="float_right">
            <p>地址：高新区交子大道365号中海国际F座1栋13层1306号</p>
            <p>电话：028-85239135</p>
            <p>蜀ICP备12012292号-1</p>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<!--<![endif]-->
</body>
</html>