<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Examples</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="wrap">
        <div class="float_left">
            <a></a>
        </div>
        <div class="float_right">
            <div>
                <p>全国加盟电话  400-004-2282</p>
                <p>13886868686</p>
            </div>
            <span>馋时，闲时，就到小馋院</span>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="clearFloat">
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="aboutUs.html">品牌</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="Oration.html">致辞</a>
                    <a href="culture.html">文化</a>
                    <a href="aboutUs.html">简介</a>
                    <a href="fengcai.html">员工风采</a>
                    <a href="honorList.html">荣誉资质</a>
                    <a href="brand.html">品牌实力</a>
                </p>
            </div>
        <li>
            <a>火锅加盟  </a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="tzys.html">投资预算</a>
                    <a href="jmys.html">加盟优势</a>
                    <a href="jmzc.html">加盟支持</a>
                    <a href="jmlc.html">加盟流程</a>
                    <a href="jmjg.html">加盟费</a>
                    <a href="jmxz.html">加盟选址</a>
                    <a href="jmtj.html">加盟条件</a>
                    <a href="jmfx.html">市场分析</a>
                    <a href="jmyz.html">加盟原则</a>
                    <a href="zctd.html">支持团队</a>
                    <a href="koubei.html">达人点评</a>
                </p>
            </div>
        </li>
        <li>
            <a href="imgList.html">图片视频</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="imgList.html">图片</a>
                    <a href="videoList.html">视频</a>
                </p>
            </div>
        </li>
        <li>
            <a href="feature-food.html">特色菜品</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="meatList.html">荤菜</a>
                    <a href="vegetarianList.html">素菜</a>
                    <a href="jylc.html">江岽卤</a>
                    <a href="dessertList.html">甜品</a>
                    <a href="snackList.html">小吃</a>
                </p>
            </div>
        </li>
        <li>
            <a href="dining-hall.html">餐厅展示</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="fdzs.html">分店展示</a>
                    <a href="fddt.html">分店地图</a>
                    <a href="fddz.html">分店地址</a>
                </p>
            </div>
        </li>
        <li>
            <a href="news.html">新闻动态</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="jmzs.html">火锅加盟知识</a>
                    <a href="hydt.html">行业动态</a>
                    <a href="yxhd.html">营销活动</a>
                </p>
            </div>
        </li>
        <li>
            <a>联系方式</a>
        </li>
    </ul>
</div>
<div class="wrap content_jm">
    <h1>分析</h1>
    <p>中国餐饮业作为我国第三大产业中的传统服务性行业，始终保持着旺盛的增长势头，取得了突飞猛进的发展，展现出繁荣兴旺的新局面。2008年中国餐饮业分析及投资咨询报告》报道，1978年中国餐饮市场总量54亿元，然后以年均20.5%的速度增长，2009年达到1.2万亿元。以此速度推算，2018年将达到7万亿元，2020年后将达到10万亿元。即使这一速度降下来，2020年市场总量也不会少于7万亿元。</p>
    <h2>抓住7万亿市场 为什么是火锅？</h2>
    <p>食品专家分析，火锅业火爆不是偶然的，是有其深刻背景和社会根源的，而以下特点有助于火锅成为首要食选。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 一.消费层次多样<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在餐饮行业中拥有庞大的FANS群体，能够满足多种消费层次人群的就餐需求。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二.符合现代需求<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;能满足消费者饮食多样化的潮流，让消费者各取所需。吃的健康，吃的时尚，吃的尽兴！<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三.火锅气氛浓郁<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;热闹、悠闲、热情的就餐环境，有助于人与人之间的沟通交流。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;四.用餐方便快捷<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最重要的一点是快：点菜、上锅、上菜、加菜也无需等待。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因此，火锅的市场格局更贴近百姓生活，以大众消费为主，市场前景无限。
    </p>
    <h2>如何才能抓住这7万亿的市场？</h2>
    <p>企业经营特色更加突出，经营水平不断提高，在竞争越来越激烈的情况下，企业更加注重创新经营和特色经营。菜品.质量就与环境和服务水平等逐步提升，为企业持续发展奠定基础。由过去偏于重品种、重价格向重品牌，重质量方向转化。抓管理.上档次，创名牌。<br>
        成都味蜀吾餐饮管理有限公司以经营火锅为主，旗下拥有味蜀吾老火锅广为市场认同的品牌。公司在注重品牌效果的同时更注重不断创新，迄今为止已获得餐饮领域十多项殊荣。在客观上严下功夫，丰富餐饮市场的文化内涵，提高文化品位，把菜文化，吃文化，餐厅文化，服务文化，经营文化等贯穿于经营活动的全过程。以精细，快捷，标准，量化的手法，把原生态的健康观念融合到企业之中，同时结合养生概念，让消费者食之放心且舒心。</p>
</div>
<div class="wrap footer-menu">
    <a href="tzys.html">投资预算</a>
    <a href="jmys.html">加盟优势</a>
    <a href="jmzc.html">加盟支持</a>
    <a href="jmlc.html">加盟流程</a>
    <a href="jmjg.html">加盟费</a>
    <a href="jmxz.html">加盟选址</a>
    <a href="jmtj.html">加盟条件</a>
    <a href="jmfx.html">市场分析</a>
    <a href="jmyz.html">加盟原则</a>
    <a href="zctd.html">支持团队</a>
    <a href="koubei.html">达人点评</a>
</div>
<div class="footer">
    <div class="wrap">
        <div class="float_left">
            <div class="wx-wrap">
                <img src="../assets/images/pic6.png">
                <div>
                    <p>全国加盟电话  400-004-2282</p>
                    <p>13886868686</p>
                </div>
            </div>
            <div class="friendLink">
                友情链接：
                <a>火锅加盟</a>
                <a>渝城老妈火锅</a>
                <a>火锅店加盟</a>
                <a>面馆加盟</a>
                <a>日式料理加盟</a>
            </div>
        </div>
        <div class="float_right">
            <p>地址：高新区交子大道365号中海国际F座1栋13层1306号</p>
            <p>电话：028-85239135</p>
            <p>蜀ICP备12012292号-1</p>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<!--<![endif]-->
</body>
</html>