<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Examples</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="wrap">
        <div class="float_left">
            <a></a>
        </div>
        <div class="float_right">
            <div>
                <p>全国加盟电话  400-004-2282</p>
                <p>13886868686</p>
            </div>
            <span>馋时，闲时，就到小馋院</span>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="clearFloat">
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="aboutUs.html">品牌</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="Oration.html">致辞</a>
                    <a href="culture.html">文化</a>
                    <a href="aboutUs.html">简介</a>
                    <a href="fengcai.html">员工风采</a>
                    <a href="honorList.html">荣誉资质</a>
                    <a href="brand.html">品牌实力</a>
                </p>
            </div>
        <li>
            <a>火锅加盟  </a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="tzys.html">投资预算</a>
                    <a href="jmys.html">加盟优势</a>
                    <a href="jmzc.html">加盟支持</a>
                    <a href="jmlc.html">加盟流程</a>
                    <a href="jmjg.html">加盟费</a>
                    <a href="jmxz.html">加盟选址</a>
                    <a href="jmtj.html">加盟条件</a>
                    <a href="jmfx.html">市场分析</a>
                    <a href="jmyz.html">加盟原则</a>
                    <a href="zctd.html">支持团队</a>
                    <a href="koubei.html">达人点评</a>
                </p>
            </div>
        </li>
        <li>
            <a href="imgList.html">图片视频</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="imgList.html">图片</a>
                    <a href="videoList.html">视频</a>
                </p>
            </div>
        </li>
        <li>
            <a href="feature-food.html">特色菜品</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="meatList.html">荤菜</a>
                    <a href="vegetarianList.html">素菜</a>
                    <a href="jylc.html">江岽卤</a>
                    <a href="dessertList.html">甜品</a>
                    <a href="snackList.html">小吃</a>
                </p>
            </div>
        </li>
        <li>
            <a href="dining-hall.html">餐厅展示</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="fdzs.html">分店展示</a>
                    <a href="fddt.html">分店地图</a>
                    <a href="fddz.html">分店地址</a>
                </p>
            </div>
        </li>
        <li>
            <a href="news.html">新闻动态</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="jmzs.html">火锅加盟知识</a>
                    <a href="hydt.html">行业动态</a>
                    <a href="yxhd.html">营销活动</a>
                </p>
            </div>
        </li>
        <li>
            <a>联系方式</a>
        </li>
    </ul>
</div>
<div class="wrap content_jm">
    <h1>火锅加盟流程</h1>
    <p><strong>加盟商的初次接触</strong>：</p>
    <p>1、接受潜在加盟商的电话咨询，谈判代表要详细介绍企业情况、加盟优势、加盟政策和加盟流程。</p>
    <p>2、电话咨询同时，谈判代表应对潜在加盟商做初步的评估。</p>
    <p>3、如潜在加盟商有加盟意向，应要求潜在加盟商到成都进行实地考察，如果有店址，可带上潜在店址的图片和平面图。</p>
    <p><strong>加盟商到味蜀吾总部考察</strong>：</p>
    <p>1、潜在加盟商直接到总部来访的由谈判代表接待，直接向潜在加盟商介绍公司情况、加盟优势、加盟政策和加盟流程。</p>
    <p>2、潜在加盟商有意向比较明确时，双方开始进一步接触。签订谈判代表约请加盟中心总监与潜在加盟商进行深入了解，并定意向合同书。</p>
    <p>3、拓展部经理陪同潜在加盟商了解与考察味蜀吾。</p>
    <p><strong>味蜀吾对加盟地<strong style="white-space: normal;">考察</strong></strong>：</p>
    <p>1、了解潜在加盟商情况，主要为加盟地区地理位置，人文环境，投资环境，投资规模，投资人背景情况等内容。</p>
    <p>2、根据潜在加盟商带来的当地市场分析和市场部掌握的当地市场信息，与潜在加盟商共同讨论分店经营问题。</p>
    <p>3、谈判地点可以在总部，也可以在潜在加盟商的驻地。谈话内容要形成加盟谈判备忘录，双方签字。此项座谈可以多次进行，促进双方的沟通和了解。</p>
    <p><strong>签订加盟合同：</strong></p>
    <p>经过相互了解考察，互合双方要求便可签订加盟合同。签订加盟合同后交纳相关费用，到此加盟流程进入筹备阶段。<br></p>
</div>
<div class="wrap footer-menu">
    <a href="tzys.html">投资预算</a>
    <a href="jmys.html">加盟优势</a>
    <a href="jmzc.html">加盟支持</a>
    <a href="jmlc.html">加盟流程</a>
    <a href="jmjg.html">加盟费</a>
    <a href="jmxz.html">加盟选址</a>
    <a href="jmtj.html">加盟条件</a>
    <a href="jmfx.html">市场分析</a>
    <a href="jmyz.html">加盟原则</a>
    <a href="zctd.html">支持团队</a>
    <a href="koubei.html">达人点评</a>
</div>
<div class="footer">
    <div class="wrap">
        <div class="float_left">
            <div class="wx-wrap">
                <img src="../assets/images/pic6.png">
                <div>
                    <p>全国加盟电话  400-004-2282</p>
                    <p>13886868686</p>
                </div>
            </div>
            <div class="friendLink">
                友情链接：
                <a>火锅加盟</a>
                <a>渝城老妈火锅</a>
                <a>火锅店加盟</a>
                <a>面馆加盟</a>
                <a>日式料理加盟</a>
            </div>
        </div>
        <div class="float_right">
            <p>地址：高新区交子大道365号中海国际F座1栋13层1306号</p>
            <p>电话：028-85239135</p>
            <p>蜀ICP备12012292号-1</p>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<!--<![endif]-->
</body>
</html>