<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Examples</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="wrap">
        <div class="float_left">
            <a></a>
        </div>
        <div class="float_right">
            <div>
                <p>全国加盟电话  400-004-2282</p>
                <p>13886868686</p>
            </div>
            <span>馋时，闲时，就到小馋院</span>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="clearFloat">
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="aboutUs.html">品牌</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="Oration.html">致辞</a>
                    <a href="culture.html">文化</a>
                    <a href="aboutUs.html">简介</a>
                    <a href="fengcai.html">员工风采</a>
                    <a href="honorList.html">荣誉资质</a>
                    <a href="brand.html">品牌实力</a>
                </p>
            </div>
        <li>
            <a>火锅加盟  </a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="tzys.html">投资预算</a>
                    <a href="jmys.html">加盟优势</a>
                    <a href="jmzc.html">加盟支持</a>
                    <a href="jmlc.html">加盟流程</a>
                    <a href="jmjg.html">加盟费</a>
                    <a href="jmxz.html">加盟选址</a>
                    <a href="jmtj.html">加盟条件</a>
                    <a href="jmfx.html">市场分析</a>
                    <a href="jmyz.html">加盟原则</a>
                    <a href="zctd.html">支持团队</a>
                    <a href="koubei.html">达人点评</a>
                </p>
            </div>
        </li>
        <li>
            <a href="imgList.html">图片视频</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="imgList.html">图片</a>
                    <a href="videoList.html">视频</a>
                </p>
            </div>
        </li>
        <li>
            <a href="feature-food.html">特色菜品</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="meatList.html">荤菜</a>
                    <a href="vegetarianList.html">素菜</a>
                    <a href="jylc.html">江岽卤</a>
                    <a href="dessertList.html">甜品</a>
                    <a href="snackList.html">小吃</a>
                </p>
            </div>
        </li>
        <li>
            <a href="dining-hall.html">餐厅展示</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="fdzs.html">分店展示</a>
                    <a href="fddt.html">分店地图</a>
                    <a href="fddz.html">分店地址</a>
                </p>
            </div>
        </li>
        <li>
            <a href="news.html">新闻动态</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="jmzs.html">火锅加盟知识</a>
                    <a href="hydt.html">行业动态</a>
                    <a href="yxhd.html">营销活动</a>
                </p>
            </div>
        </li>
        <li>
            <a>联系方式</a>
        </li>
    </ul>
</div>
<div class="wrap content_jm">
    <h1>火锅加盟店地址的选择</h1>
    <p>&nbsp; &nbsp; 开火锅店选址是非常细腻的工作，需要收集分析相关数据，且要应遵循原则，不符合要求的坚决不能选择。味蜀吾的选址流程需要经过</p>
    <p>火锅店选址分析，总部考察，总部审批，确定面积。四个步骤。</p>
    <p><strong>一、<strong style="white-space: normal;">火锅店选址分析：</strong></strong>潜在加盟商回加盟地，对具体的开店地址进行考察分析和筛选。（火锅店如何选址,以下是选择火锅店地址所需收集分析的）</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr class="firstRow">
            <td valign="top">
                <p>1、火锅店所在位置的市场资料；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、人口统计；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、交通方式；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、拟选地址的面积及房屋结构；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、商圈特征；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、可接近性；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、能源等运营要素及租赁成本；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、营业额预估及损益平衡点分析；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、目标竞争者分析；<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、同业竞争者分析。</p>
            </td>
            <td align="right"><img src="../assets/images/example/xuanzhi.jpg" alt="火锅店选址分析项"></td>
        </tr>
        </tbody>
    </table>
    <p><strong>二、总部考察加盟店地址：</strong>潜在加盟商初步选定火锅加盟店地址后，接受总部加盟中心人员的涮选。需要公司派员现场考察地址，差旅费用由潜在加盟商承担。</p>
    <p><strong>三、总部审批：</strong>拓展部经理确认上述信息后，应在三日内（或约定时间）派出谈判代表前往加盟地，对当地市场情况和地理位置进行分析。经拓展部经理审核后，报送加盟中心总监批准。此批准过程不得超过8个小时。</p>
    <p><strong>四、</strong><strong>确定面积</strong><strong>：</strong>火锅店选址分析报告被批准后，选址人员对选定的地址进行勘测，确实火锅店加盟地址的最终面积。至此火锅店的选址工作结束进入筹备阶段。</p>
    <p><strong>火锅店选址要求：</strong></p>
    <ul class=" list-paddingleft-2">
        <li><p>1、良好的交通状况：这即是我们常说的易接近性，我们的单店选址应考虑客人来去的方便。</p></li>
        <li><p>2、可视性：必须有良好的可视性，规避任何对单店标记和其它可视物形成障碍的因素，保证行人和车辆能清楚看见味蜀吾老火锅的招牌及店面。</p></li>
        <li><p>3、投资回报性：考虑的投资回报和预期利润，要考虑地价、租金、基础设施，装修费用等因素。</p></li>
        <li><p>4、停车场地：店面经营必须有停车位，最好是店门前、旁边或地下停车场。</p></li>
        <li><p>5、店面：临街一层、一二层、一二三层、二楼、二三楼，有足够的营业面积，比较规整，层高最好是3米以上。</p></li>
        <li><p>6、出入口：单店应有独立的出入口，最差也应有公用出入口。</p></li>
        <li><p>7、外观：外观应有空调室外机位置和广告招牌位置，门面宽度在8米以上，高度在3.5米以上。</p></li>
        <li><p>8、给排水系统：自来水管应为无缝钢管或pp管材，管径25毫米以上，水压标准是0.07~0.28MPa；有足够大的下水口，排水管管径应在160毫米以上，是否有隔油池或沉沙井，若无将另行规划。</p></li>
        <li><p>9、排烟系统：是否有排烟管道及管道走向，是否有排烟风机安装位置。</p></li>
        <li><p>10、电力系统：本地区室内电压波动应在200V到240V之间（220V），动力电压应在300V到400V之间（380V）；是否为三相五线制，电力增容有无可能。</p></li>
        <li><p>11、消防系统：开发商是否安装了消防设施，是否完备、有效，若无可否改建，开发商是否愿意承担改建成本。</p></li>
        <li><p>12、排污系统：排污系统管道的大小是多少，能否有足够的排污承受量。</p></li>
        <li><p>13、店面的进深和开间：店面的进深一定大，进深建议在6米以上，开间9米以上。</p></li>
        <li><p>14、室外广告位：位置要明显，城管对广告牌安装相关要求。</p></li>
        <li><p>15、有无天然气供应：要确定是否有天然气的供应，有无气表，气压是否足够，如果没有，能否增加，能否改建，需要多少成本。</p></li>
        <li><p>16、门面的租约在5年以上，店面是否属于拆迁范围，房屋是否通过验收，业主是否有产权证（原件），这些都是在单店选址时必须注意的问题。</p></li>
        <li><p>17、要考虑当地的特殊环境，如风俗习惯、日照走向等。</p></li>
    </ul>
    <p><strong>火锅店选址注意事项：</strong></p>
    <ul class=" list-paddingleft-2">
        <li><p>1、不能选择三楼以上、地下、半地下的店面。</p></li>
        <li><p>2、不能选择道路：单行道、高架桥边、路面大修（3个月以上）的店面。</p></li>
        <li><p>3、不能选择无停车条件的地址。</p></li>
        <li><p>4、不能选择无独立广告位店面。</p></li>
        <li><p>5、不能选择房产存在官司、欠租、抵押、产权手续不清、拆迁（腾退）、违章建筑等情况的店面。</p></li>
        <li><p>6、不能选择房屋结构不合理（利用率低）、简易临时房、危房、居民楼底商、无法办理营业许可的房屋、原是有毒化工生产或储存的店面。</p></li>
        <li><p>7、不能选择店面正门口（3米内）：电线杆或变电器、大树、广告牌、公交车站台、报刊亭、公共厕所、地下停车出入口。</p></li>
    </ul>
</div>
<div class="wrap footer-menu">
    <a href="tzys.html">投资预算</a>
    <a href="jmys.html">加盟优势</a>
    <a href="jmzc.html">加盟支持</a>
    <a href="jmlc.html">加盟流程</a>
    <a href="jmjg.html">加盟费</a>
    <a href="jmxz.html">加盟选址</a>
    <a href="jmtj.html">加盟条件</a>
    <a href="jmfx.html">市场分析</a>
    <a href="jmyz.html">加盟原则</a>
    <a href="zctd.html">支持团队</a>
    <a href="koubei.html">达人点评</a>
</div>
<div class="footer">
    <div class="wrap">
        <div class="float_left">
            <div class="wx-wrap">
                <img src="../assets/images/pic6.png">
                <div>
                    <p>全国加盟电话  400-004-2282</p>
                    <p>13886868686</p>
                </div>
            </div>
            <div class="friendLink">
                友情链接：
                <a>火锅加盟</a>
                <a>渝城老妈火锅</a>
                <a>火锅店加盟</a>
                <a>面馆加盟</a>
                <a>日式料理加盟</a>
            </div>
        </div>
        <div class="float_right">
            <p>地址：高新区交子大道365号中海国际F座1栋13层1306号</p>
            <p>电话：028-85239135</p>
            <p>蜀ICP备12012292号-1</p>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<!--<![endif]-->
</body>
</html>