<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Examples</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<div class="header">
    <div class="wrap">
        <div class="float_left">
            <a></a>
        </div>
        <div class="float_right">
            <div>
                <p>全国加盟电话  400-004-2282</p>
                <p>13886868686</p>
            </div>
            <span>馋时，闲时，就到小馋院</span>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="clearFloat">
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="aboutUs.html">品牌</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="Oration.html">致辞</a>
                    <a href="culture.html">文化</a>
                    <a href="aboutUs.html">简介</a>
                    <a href="fengcai.html">员工风采</a>
                    <a href="honorList.html">荣誉资质</a>
                    <a href="brand.html">品牌实力</a>
                </p>
            </div>
        <li>
            <a>火锅加盟  </a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="tzys.html">投资预算</a>
                    <a href="jmys.html">加盟优势</a>
                    <a href="jmzc.html">加盟支持</a>
                    <a href="jmlc.html">加盟流程</a>
                    <a href="jmjg.html">加盟费</a>
                    <a href="jmxz.html">加盟选址</a>
                    <a href="jmtj.html">加盟条件</a>
                    <a href="jmfx.html">市场分析</a>
                    <a href="jmyz.html">加盟原则</a>
                    <a href="zctd.html">支持团队</a>
                    <a href="koubei.html">达人点评</a>
                </p>
            </div>
        </li>
        <li>
            <a href="imgList.html">图片视频</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="imgList.html">图片</a>
                    <a href="videoList.html">视频</a>
                </p>
            </div>
        </li>
        <li>
            <a href="feature-food.html">特色菜品</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="meatList.html">荤菜</a>
                    <a href="vegetarianList.html">素菜</a>
                    <a href="jylc.html">江岽卤</a>
                    <a href="dessertList.html">甜品</a>
                    <a href="snackList.html">小吃</a>
                </p>
            </div>
        </li>
        <li>
            <a href="dining-hall.html">餐厅展示</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="fdzs.html">分店展示</a>
                    <a href="fddt.html">分店地图</a>
                    <a href="fddz.html">分店地址</a>
                </p>
            </div>
        </li>
        <li>
            <a href="news.html">新闻动态</a>
            <div>
                <p><i></i></p>
                <p>
                    <a href="jmzs.html">火锅加盟知识</a>
                    <a href="hydt.html">行业动态</a>
                    <a href="yxhd.html">营销活动</a>
                </p>
            </div>
        </li>
        <li>
            <a>联系方式</a>
        </li>
    </ul>
</div>
<div class="wrap content_jm">
    <h1>火锅店加盟支持</h1>
    <p>&nbsp; &nbsp; 味蜀吾老火锅为加盟商提供全面的火锅店加盟支持，解决加盟商没有经验，没有时间管理等各种问题，让您从繁琐的火锅店筹备工作中解脱。味蜀吾多年成功筹备百余家火锅加盟店，丰富的成功经验直接复制到您的火锅店上，大大提升成功率。给火锅店有一个好的开始，正确的方法，向着正确的方向前进......<br></p>
    <h2>火锅店内规划、设计、装修支持：</h2>
    <p>&nbsp; &nbsp; 1、公司将根据所提供的图纸为加盟方设计平面图和门头广告招牌。部份位置公司将提供设计效果图。</p>
    <p>&nbsp; &nbsp; 2、装修期间我公司将派技术督导协助装修和规划。</p>
    <p>&nbsp; &nbsp; 3、公司将提供一整套VI识别系统，以便加盟方按统一风格装修。</p>
    <h2>火锅店开业手续办理支持：</h2>
    <p>&nbsp; &nbsp; 1、根据有关法律法规的规定，我公司将为加盟店提供有关的法律、法规手续，公司营业执照复印件一份，方便加盟方在当地进行工商注册。</p>
    <p>&nbsp; &nbsp; 2、公司根据加盟方的实际情况，可协助加盟方办理各项营业执照。《证照办理流程》</p>
    <h2>员工培训（驻店）支持</h2>
    <p>&nbsp; &nbsp; 《组织机构架构图》《前后堂培训手册》《标准人员配置》</p>
    <p>&nbsp; &nbsp; 1、加盟方自行招聘工作人员,到总公司接受理论培训后，派到直营门店实习。《员工招聘方式》</p>
    <p>&nbsp; &nbsp; 2、在火锅店开业前一个月，公司委派开业督导人员到店协助开业，以保证加盟方开业成功。</p>
    <p>&nbsp; &nbsp; 3、督导人员在贵店顺利营业1-6个月后，方可回公司述职。</p>
    <p>&nbsp; &nbsp; 4、督导人员应贵店需求，可根据所属地域特殊性常驻贵店。</p>
    <h2>火锅店筹备支持（物配支持）</h2>
    <p>&nbsp; &nbsp; 《总部物配清单》《前后堂物配清单》</p>
    <p>&nbsp; &nbsp; 1、在火锅店筹备过程中为了不让加盟商在开业前采购过量或不必要的商品，公司在开业前将提供《开业筹备建议书》，并两次提供物配清单。《开业倒计时表》《原辅材料调查表》</p>
    <p>&nbsp; &nbsp; 2、成都地区可选择统一配送。</p>
    <h2>营销策划支持</h2>
    <p>&nbsp; &nbsp; 1、公司在开业前30天配合加盟方制定一套开业营销计划方案《营销方案》、《模拟开业情景测试表》、《模拟开业的整改表》、《开业倒计时间表》、《开业活动庆典方案》。</p>
    <p>&nbsp; &nbsp; 2、在开业前配合加盟方制定具体营销策划方案，包括宣传方式。</p>
    <p>&nbsp; &nbsp; 3、在经营过程中若遇经营管理、技术困难公司将及时派人指导。</p>
    <p>&nbsp; &nbsp; 4、公司将派人不定时巡查以便及时发现问题解决问题，保证加盟方的顺利经营。</p>
    <h2>技术支持</h2>
    <p>&nbsp; &nbsp; 1、由公司统一提供火锅底料、香油、香料、花椒、辣椒、特色菜品的制作料包，以便更好地保证味道及品质。（具体包含内容将在《特许经营合同》中列明）</p>
    <p>&nbsp; &nbsp; 2、为统一形象，由公司统一采购包括但不限于以下物品：带味蜀吾标识的员工服装、餐具等相关物品(VI形象)</p>
    <h2>管理培训支持</h2>
    <p>&nbsp; &nbsp; 1、公司将每年不定期组织火锅店加盟方老板或管理骨干到公司接受培训，以提高各店管理水平。</p>
    <p>&nbsp; &nbsp; 2、公司将提供一套完整的企业管理体系、企业管理软件和企业管理手册给加盟方。</p>
</div>
<div class="wrap footer-menu">
    <a href="tzys.html">投资预算</a>
    <a href="jmys.html">加盟优势</a>
    <a href="jmzc.html">加盟支持</a>
    <a href="jmlc.html">加盟流程</a>
    <a href="jmjg.html">加盟费</a>
    <a href="jmxz.html">加盟选址</a>
    <a href="jmtj.html">加盟条件</a>
    <a href="jmfx.html">市场分析</a>
    <a href="jmyz.html">加盟原则</a>
    <a href="zctd.html">支持团队</a>
    <a href="koubei.html">达人点评</a>
</div>
<div class="footer">
    <div class="wrap">
        <div class="float_left">
            <div class="wx-wrap">
                <img src="../assets/images/pic6.png">
                <div>
                    <p>全国加盟电话  400-004-2282</p>
                    <p>13886868686</p>
                </div>
            </div>
            <div class="friendLink">
                友情链接：
                <a>火锅加盟</a>
                <a>渝城老妈火锅</a>
                <a>火锅店加盟</a>
                <a>面馆加盟</a>
                <a>日式料理加盟</a>
            </div>
        </div>
        <div class="float_right">
            <p>地址：高新区交子大道365号中海国际F座1栋13层1306号</p>
            <p>电话：028-85239135</p>
            <p>蜀ICP备12012292号-1</p>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/lib/jquery-1.9.1.min.js"></script>
<!--<![endif]-->
</body>
</html>